<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hotel"
        android:label="Hotel-Booking"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ho_tel"
        tools:targetApi="31">
        <activity
            android:name=".StaffActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleMapsActivity"
            android:exported="false" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-3ifNhhvjs4bMoHjzp4TLAC2Osa16Rsc"/>

        <activity
            android:name=".DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".BookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BookRoomActivity"
            android:exported="false" />
        <activity
            android:name=".FindRoomActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCareActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>